body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    background-color: #f5f5f5;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

.rotated-image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Changed to relative for better positioning */
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px; /* Adds some space between the image and the input field/button container */
}

.rotated-image img {
    max-width: 100%;
    height: auto;
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; /* Changed to relative for better positioning */
    width: 100%; /* Makes the container take up the full width */
}

input[type="text"], button {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: both;
    width: 100%; /* Make input fields and buttons responsive */
    max-width: 300px; /* Maximum width for larger input fields and buttons */
}

select {
    margin-bottom: 10px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.draggable {
    position: relative;
    cursor: move;
    padding: 10px;
}

.delete-icon {
    display: none;
    position: absolute;
    right: -10px;
    top: -10px;
    cursor: pointer;
    font-size: 16px;
    background-color: #ff0000;
    color: #ffffff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}

.draggable:hover .delete-icon {
    display: block;
}

.input-container:hover.delete-icon {
    display: block;
}
/* .delete-icon {
    cursor: pointer;
    margin-left: 5px;
    color: red;
} */

/* Style the select element */
#initialTextbox {
    width: 200px;
    height: 35px;
    padding: 5px 10px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    appearance: none; /* Remove default arrow in most browsers */
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

/* Custom arrow for the select element */
#initialTextbox::after {
    content: '\25BC'; /* Down arrow */
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

/* Style for the dropdown options */
#initialTextbox option {
    padding: 10px;
    background-color: #fff;
    color: #333;
    font-size: 16px;
}

/* Change border color and add shadow on focus */
#initialTextbox:focus {
    border-color: #66afe9;
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
    outline: none;
}