{% extends 'base.html.twig' %}

{% block javascripts %}
<script>
  $(document).ready(function() {

    $('.toggle').click(function() { /* BLOCK TOGGLE */
      $(this).toggleClass('show');
      $(this).parent().parent().children('.block_cont').slideToggle(300);
      $(this).parent().toggleClass('show');
      return false;
    });

    $('#clear-confirm').dialog({
      resizable: false,
      autoOpen: false,
      show: {
        effect: 'drop',
        duration: 200
      },
      hide: {
        effect: 'drop',
        duration: 200
      },
      modal: true,
      buttons: {
        'Obriši': function() {
          $.post(page_url + 'login_log/clear_list', {troll:Math.random()}, function(data, s, r) {
            if (r.getResponseHeader('Requires-Auth') == 1) {
              $(location).attr('href', page_url);
              return false;
            }
            if (data == 'ok') {
              $(location).attr('href', page_url + 'login_log');
            }
            else {
              alert('Greška! Molimo pokušajte ponovo');
              console.log('error data: ' + data);
            }
          });
        },
        'Odustani': function() {
          $(this).dialog('close');
        }
      }
    });

    $('#logclear').click(function() { /* CLEAR LOGIN LOG */
      $('#clear-confirm').dialog('open');
      return false;
    });

    $('.tipTop').tipsy({gravity: 's', fade: true}); /* TOOLTIP CLASS */
    $('.tipBot').tipsy({gravity: 'n', fade: true}); /* TOOLTIP CLASS */
    $('.tipLeft').tipsy({gravity: 'e', fade: true}); /* TOOLTIP CLASS */
    $('.tipRight').tipsy({gravity: 'w', fade: true}); /* TOOLTIP CLASS */

    $('.ie #userbar').corner('top 5px'); /* IE BORDER-RADIUS FIX */
    $('.ie .titlebar').corner('top 5px'); /* IE BORDER-RADIUS FIX */
    $('.ie .block_cont').corner('bottom 5px'); /* IE BORDER-RADIUS FIX */
    $('.ie .error, .ie .warning, .ie .success, .ie .information').corner('5px'); /* IE BORDER-RADIUS FIX */

    $('.table').wrap('<div class="table-wrap" />'); /* NORMAL TABLE */
    $('.table tr:even').addClass('even'); /* ODD/EVEN TABLEROW CLASS */
    $('.data-table').dataTable({
      'sDom': '<"data-table-top"><"clear"><"table-wrap"rt><"clear"><"data-table-bottom"><"clear">',
      'bJQueryUI': true,
      'bPaginate': false,
      'bInfo': false,
      'bFilter': false,
      'aoColumnDefs': [{
        bSortable: false, aTargets: ['sorting_disabled']
      }],
      'fnDrawCallback': function(oSettings) {
        if (oSettings.bSorted || oSettings.bFiltered) {
          for (var i = 0, iLen = oSettings.aiDisplay.length; i < iLen; i++) {
            $('td:eq(0)', oSettings.aoData[oSettings.aiDisplay[i]].nTr).html(i+1);
          }
        }
      }
    }); /* DATA TABLES */

  });
</script>
{% endblock %}

{% block navigation %}
    <li><a href="{url}data_logarchive" class="icon_save">Arhiva</a></li>
    <li><a href="{{ path('app_home_overview') }}" class="icon_left">Povratak</a></li>
{% endblock %}

{% block content %}

{% endblock %}